;;;;
;;;; Generation Config
;;;;
[;;;
 ;;; Documentation
 ;;;
 ;;
 ;;  Diagram generation for template based views
 ;;
 {:view-selection {:el :model-view}
  :template "views/model-view.dot.cmb"
  :subdir "views"
  :per-element true
  :id-as-name true
  :extension "dot"}

 {:view-selection {:el :system-structure-view}
  :template "views/system-structure-view.puml.cmb"
  :subdir "views"
  :per-element true
  :id-as-name true
  :extension "puml"}

 {:view-selection {:el :deployment-structure-view}
  :template "views/deployment-structure-view.puml.cmb"
  :subdir "views"
  :per-element true
  :id-as-name true
  :extension "puml"}

 {:view-selection {:el :organization-structure-view}
  :template "views/organization-structure-view.puml.cmb"
  :subdir "views"
  :per-element true
  :id-as-name true
  :extension "puml"}

 ;;
 ;;  Markdown generation for overarch views
 ;; 
 {:view-selection {:namespace-prefix "banking"}
  :template "docs/views/views.md.cmb"
  :subdir "docs"
  :base-namespace "banking"
  :base-name "views"
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :concept-view}
  :template "docs/views/concept-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :use-case-view}
  :template "docs/views/use-case-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :context-view}
  :template "docs/views/context-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :container-view}
  :template "docs/views/container-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :component-view}
  :template "docs/views/component-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :system-landscape-view}
  :template "docs/views/system-landscape-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :dynamic-view}
  :template "docs/views/dynamic-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :state-machine-view}
  :template "docs/views/state-machine-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :system-structure-view}
  :template "docs/views/system-structure-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :code-view}
  :template "docs/views/code-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :deployment-view}
  :template "docs/views/deployment-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :deployment-structure-view}
  :template "docs/views/deployment-structure-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :organization-structure-view}
  :template "docs/views/organization-structure-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :glossary-view}
  :template "docs/views/glossary-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:namespace-prefix "banking" :el :model-view}
  :template "docs/views/model-view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}

 ;;
 ;;  Markdown Generation for Model Elements
 ;;
 {:selection {:namespace-prefix "banking" :el :concept}
  :template "docs/concept.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :organization-model-node}
  :template "docs/organization.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :technical-architecture-model-node}
  :template "docs/architecture-node.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :use-case}
  :template "docs/use-case.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :person}
  :template "docs/user-role.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :node}
  :template "docs/deployment-node.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :state}
  :template "docs/state.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :package}
  :template "docs/package.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :els #{:interface :class}}
  :template "docs/code.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :use-case}
  :template "docs/use-cases.md.cmb"
  :subdir "docs"
  :base-namespace "banking"
  :base-name "use-cases"
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :person}
  :template "docs/user-roles.md.cmb"
  :subdir "docs"
  :base-namespace "banking"
  :base-name "user-roles"
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :capability}
  :template "docs/capability.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :process}
  :template "docs/process.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :artifact}
  :template "docs/artifact.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :requirement}
  :template "docs/requirement.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:selection {:namespace-prefix "banking" :el :decision}
  :template "docs/decision.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}

 ;;;
 ;;; Markdown Reports
 ;;;
 {:selection {:namespace-prefix "banking"}
  :template "reports/node-report.md.cmb"
  :title "Banking Model Report"
  :base-namespace "reports"
  :base-name "banking-report"
  :extension "md"}

 {:selection {:namespace-prefix "banking" :el :system}
  :template "reports/node-report.md.cmb"
  :title "Banking Systems Report"
  :base-namespace "reports"
  :base-name "banking-systems-report"
  :extension "md"}

 {:selection {:namespace-prefix "overarch"}
  :template "reports/node-report.md.cmb"
  :title "Overarch Model Report"
  :base-namespace "reports"
  :base-name "overarch-report"
  :extension "md"}

 ;;;
 ;;; Exports
 ;;;
 {:selection {:namespace-prefix "banking"}
  :template "exports/model.edn.cmb"
  :per-namespace true
  :subdir "export/edn"
  :base-name "model"
  :extension "edn"
  :debug true}

 {:view-selection {:namespace-prefix "banking"}
  :template "exports/views.edn.cmb"
  :per-namespace true
  :subdir "export/edn"
  :base-name "views"
  :extension "edn"
  :debug true}

 ;
 ]
