;;;;
;;;; Generation Config
;;;;
[;
 ;;;
 ;;; Documentation
 ;;;
 
 ;;
 ;; Template based diagram generation for views
 ;;
 {:view-selection {:els #{:deployment-structure-view :organization-structure-view :system-structure-view}}
  :template "views/structure-view.puml.cmb"
  :subdir "views"
  :per-element true
  :id-as-name true
  :extension "puml"}

 {:view-selection {:els #{:concept-view :process-view :model-view}}
  :template "views/view.dot.cmb"
  :subdir "views"
  :per-element true
  :id-as-name true
  :extension "dot"}

 ;;
 ;;  Markdown generation for views
 ;; 
 {:view-selection {:namespace-prefix "banking"}
  :template "docs/views/views.md.cmb"
  :subdir "docs"
  :base-namespace "banking"
  :base-name "views"
  :extension "md"}
 
 {:view-selection {:namespace-prefix "banking" :!els #{:glossary-view}}
  :template "docs/views/view.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 {:view-selection {:el :glossary-view}
  :template "views/glossary-view.md.cmb"
  :subdir "views"
  :per-element true
  :id-as-name true
  :extension "md"}
 
 ;;
 ;;  Markdown Generation for Model Elements
 ;;

 ; don't generate markdown per field or method
 {:selection {:model-node? true :!els #{:field :method}}
  :template "docs/node.md.cmb"
  :subdir "docs"
  :per-element true
  :id-as-name true
  :extension "md"}
 
 ;;;
 ;;; Markdown Reports
 ;;;
 {:selection {:namespace-prefix "banking"}
  :template "reports/node-report.md.cmb"
  :title "Banking Model Report"
  :base-namespace "reports"
  :base-name "banking-report"
  :extension "md"}

 {:selection {:namespace-prefix "banking" :el :system}
  :template "reports/node-report.md.cmb"
  :title "Banking Systems Report"
  :base-namespace "reports"
  :base-name "banking-systems-report"
  :extension "md"}

 {:selection {:namespace-prefix "overarch"}
  :template "reports/node-report.md.cmb"
  :title "Overarch Model Report"
  :base-namespace "reports"
  :base-name "overarch-report"
  :extension "md"}

 ;;;
 ;;; Exports
 ;;;
 {:selection {:namespace-prefix "banking"}
  :template "exports/model.edn.cmb"
  :per-namespace true
  :subdir "export/edn"
  :base-name "model"
  :extension "edn"
  :debug true}

 {:view-selection {:namespace-prefix "banking"}
  :template "exports/views.edn.cmb"
  :per-namespace true
  :subdir "export/edn"
  :base-name "views"
  :extension "edn"
  :debug true}

 ;
 ]
