;;;;
;;;; Generation Config
;;;;
[;; Reports
 {:selection {:namespace-prefix "banking"}
  :template "reports/element-report.md.cmb"
  :title "Banking Model Report"
  :base-namespace "reports"
  :base-name "banking-report"
  :extension "md"}

 {:selection {:namespace-prefix "overarch"}
  :template "reports/element-report.md.cmb"
  :title "Overarch Model Report"
  :base-namespace "reports"
  :base-name "overarch-report"
  :extension "md"}
 ;
 ]
