#{{:el :context-view
   :id :test/plantuml-local-imports
   :title "Local Import Test"
   :ct [{:ref :test/sys1}
        {:ref :test/sys2}
        {:ref :test/sys1-calls-sys2}]}

  {:el :context-view
   :id :test/plantuml-remote-imports
   :title "Remote Import Test"
   :spec {:plantuml {:remote-imports true}}
   :ct [{:ref :test/sys1}
        {:ref :test/sys2}
        {:ref :test/sys1-calls-sys2}]}

  {:el :deployment-view
   :id :test/azure-icons
   :title "Azure Icon Test"
   :spec {:plantuml {:sprite-libs [:azure]}}
   :ct [{:ref :test/azure}]}

  {:el :deployment-view
   :id :test/aws-icons
   :title "AWS Icon Test"
   :spec {:plantuml {:sprite-libs [:awslib]}}
   :ct [{:ref :test/azure}]}}
