#{{:el :context-view
   :id :test/banking-context-view-relations
   :spec {:include :relations}
   :title "Context View of the Internet Banking System"
   :ct [; model elements
        {:ref :banking/personal-customer}
        {:ref :banking/internet-banking-system}
        {:ref :banking/email-system}
        {:ref :banking/mainframe-banking-system}

         ; relations
        ]}

  {:el :container-view
   :id :test/banking-container-view-relations
   :spec {:include :relations}
   :title "Container View of the Internet Banking System"
   :ct [; model elements
        {:ref :banking/personal-customer}
        {:ref :banking/internet-banking-system}
        {:ref :banking/email-system}
        {:ref :banking/mainframe-banking-system}

         ; relations
        ]}

  {:el :container-view
   :id :test/banking-container-view-related
   :spec {:include :related}
   :title "Container View of the Internet Banking System"
   :ct [; model elements
        ; relations
        {:ref :banking/email-system-sends-mail-to-personal-customer :direction :up}
        {:ref :banking/personal-customer-uses-web-app}
        {:ref :banking/personal-customer-uses-single-page-app}
        {:ref :banking/personal-customer-uses-mobile-app}
        {:ref :banking/web-app-deliveres-single-page-app :direction :right}
        {:ref :banking/single-page-app-calls-api-application}
        {:ref :banking/mobile-app-calls-api-application}
        {:ref :banking/api-application-uses-database :direction :left}
        {:ref :banking/api-application-uses-email-system :direction :right}
        {:ref :banking/api-application-uses-mainframe-banking-system}]}

  {:el :container-view
   :id :test/banking-container-view-criteria
   :spec {:selection {:namespace :banking}}
   :title "Container View of the Internet Banking System"
   :ct [;
        ]}

  {:el :component-view
   :id :test/banking-api-component-view-relations
   :spec {:include :relations}
   :title "Component View of the API Application"
   :ct [; model elements
        {:ref :banking/single-page-app}
        {:ref :banking/mobile-app}
        {:ref :banking/api-application}
        {:ref :banking/database}
        {:ref :banking/email-system}
        {:ref :banking/mainframe-banking-system}

        ; relations
        ]}

  {:el :component-view
   :id :test/banking-api-component-view-related
   :spec {:include :related}
   :title "Component View of the API Application"
   :ct [; model elements

        ; relations
        {:ref :banking/single-page-app-calls-sign-in-controller}
        {:ref :banking/single-page-app-calls-reset-password-controller}
        {:ref :banking/single-page-app-calls-accounts-summary-controller}
        {:ref :banking/mobile-app-calls-sign-in-controller}
        {:ref :banking/mobile-app-calls-reset-password-controller}
        {:ref :banking/mobile-app-calls-accounts-summary-controller}
        {:ref :banking/sign-in-controller-uses-security-component}
        {:ref :banking/reset-password-controller-uses-email-component}
        {:ref :banking/accounts-summary-controller-uses-mainframe-banking-system-facade}
        {:ref :banking/security-component-uses-database}
        {:ref :banking/email-component-uses-email-system}
        {:ref :banking/mainframe-banking-system-facade-calls-mainframe-banking-system}]}

  {:el :concept-view
   :id :test/ddd-concept-view-related
   :spec {:include :related}
   :title "Concept Map of the Domain Driven Design Patterns"
   :ct [; relations
        {:ref :ddd/c-aggregates-access-with-c-repositories}
        {:ref :ddd/c-aggregates-encapsulate-with-c-factories}
        {:ref :ddd/c-bounded-context-names-enter-c-ubiquitous-language}
        {:ref :ddd/c-bounded-context-overview-with-c-context-map}
        {:ref :ddd/c-bounded-context-with-c-continuous-integration}
        {:ref :ddd/c-context-map-coordinate-c-customer-supplier}
        {:ref :ddd/c-context-map-coordinate-with-c-partnership}
        {:ref :ddd/c-context-map-go-c-separate-ways}
        {:ref :ddd/c-context-map-overlap-c-conformist}
        {:ref :ddd/c-context-map-overlap-contexts-c-shared-kernel}
        {:ref :ddd/c-context-map-seggregate-c-big-ball-of-mud}
        {:ref :ddd/c-context-map-support-c-open-host-service}
        {:ref :ddd/c-context-map-translate-c-anti-corruption-layer}
        {:ref :ddd/c-core-domain-to-c-ubiquitous-language}
        {:ref :ddd/c-core-domain-work-in-c-bounded-context}
        {:ref :ddd/c-core-domain-to-c-generic-subdomains}
        {:ref :ddd/c-entities-access-with-c-repositories}
        {:ref :ddd/c-entities-encapsulate-with-c-aggregates}
        {:ref :ddd/c-entities-encapsulate-with-c-factories}
        {:ref :ddd/c-entities-push-change-with-c-domain-events}
        {:ref :ddd/c-entities-root-of-c-aggregates}
        {:ref :ddd/c-model-driven-design-express-with-c-domain-events}
        {:ref :ddd/c-model-driven-design-express-with-c-entities}
        {:ref :ddd/c-model-driven-design-express-with-c-services}
        {:ref :ddd/c-model-driven-design-express-with-c-value-objects}
        {:ref :ddd/c-model-driven-design-isolate-with-c-hexagonal-architecture}
        {:ref :ddd/c-model-driven-design-structures-c-ubiquitous-language}
        {:ref :ddd/c-model-driven-design-within-c-bounded-context}
        {:ref :ddd/c-open-host-service-formalized-as-c-published-language}
        {:ref :ddd/c-value-objects-encapsulate-with-c-aggregates}
        {:ref :ddd/c-value-objects-encapsulate-with-c-factories}]}

  {:el :concept-view
   :id :test/ddd-concept-view-relations
   :spec {:include :relations}
   :title "Concept Map of the Domain Driven Design Patterns"
   :ct [; concepts
        {:ref :ddd/c-aggregates}
        {:ref :ddd/c-anti-corruption-layer}
        {:ref :ddd/c-big-ball-of-mud}
        {:ref :ddd/c-bounded-context}
        {:ref :ddd/c-clean-architecture}
        {:ref :ddd/c-conformist}
        {:ref :ddd/c-context-map}
        {:ref :ddd/c-continuous-integration}
        {:ref :ddd/c-core-domain}
        {:ref :ddd/c-customer-supplier}
        {:ref :ddd/c-domain-events}
        {:ref :ddd/c-entities}
        {:ref :ddd/c-factories}
        {:ref :ddd/c-generic-subdomains}
        {:ref :ddd/c-model-driven-design}
        {:ref :ddd/c-open-host-service}
        {:ref :ddd/c-partnership}
        {:ref :ddd/c-published-language}
        {:ref :ddd/c-repositories}
        {:ref :ddd/c-separate-ways}
        {:ref :ddd/c-services}
        {:ref :ddd/c-shared-kernel}
        {:ref :ddd/c-ubiquitous-language}
        {:ref :ddd/c-value-objects}
      ;
        ]}

  {:el :concept-view
   :id :test/ddd-concept-view-criteria
   :spec {:selection {:namespace :ddd}
          ;:include :relations
          }
   :title "Concept Map of the Domain Driven Design Patterns"
   :ct [;
        ]}

  ;
  }