#{{:el :system
   :id :test/system-a
   :name "System A"}
  {:el :system
   :id :test/system-b
   :name "System B"}

  {:el :send
   :id :test/system-a-sends-to-system-c
   :from :test/system-a
   :to :test/missing-system-c
   :name "sends data to"}
  {:el :send
   :id :test/system-c-sends-to-system-d
   :from :test/missing-system-c
   :to :test/missing-system-d
   :name "sends data to"}
  }