#{{:el :context-view
   :id :test/styles-context-view
   :spec {:styles #{{:el :rel
                     :id :dashed-rel
                     :text-color "#000000"
                     :line-color "#000000"
                     :line-style :dashed
                     :tech "async"
                     :legend-text "asynchronous"}
                    {:el :rel
                     :id :dotted-rel
                     :line-style :dotted}
                    {:el :rel
                     :id :bold-rel
                     :line-style :bold
                     :line-color "#007700"
                     :text-color "#000077"}
                    {:el :element
                     :id :red-el
                     :bg-color "#CC0000"
                     :border-color "#330000"
                     :text-color "#000000"
                     :legend-text "critical system"}}}
   :title "Style Test"
   :ct [{:el :system
         :id :test/sys1
         :name "Sys1"
         :style :red-el}
        {:el :system
         :id :test/sys2
         :name "Sys2"
         :external true}
        {:el :rel
         :from :test/sys1
         :to :test/sys2
         :name "calls"
         :style :dashed-rel}]}

  {:el :context-view
   :id :test/plantuml-local-imports
   :title "Local Import Test"
   :ct [{:el :system
         :id :test/sys1
         :name "Sys1"}
        {:el :system
         :id :test/sys2
         :name "Sys2"
         :external true}
        {:el :rel
         :from :test/sys1
         :to :test/sys2
         :name "calls"}]}

  {:el :context-view
   :id :test/plantuml-remote-imports
   :title "Remote Import Test"
   :spec {:plantuml {:remote-imports true}}
   :ct [{:el :system
         :id :test/sys1
         :name "Sys1"}
        {:el :system
         :id :test/sys2
         :name "Sys2"
         :external true}
        {:el :rel
         :from :test/sys1
         :to :test/sys2
         :name "calls"}]}

  {:el :deployment-view
   :id :test/icons
   :title "Icon Test"
   :spec {:plantuml {:sprite-libs [:azure]}}
   :ct [{:el :node
         :id :test/azure
         :name "Azure"
         :tech "Azure"
         :ct #{{:el :node
                :id :test/azure-subscription
                :name "Test Subscription"
                :tech "Azure Subscription"}}}]}}
