;;;;
;;;; Concept Model for Overarch
;;;;
#{;;;
  ;;; Concepts
  ;;; 
  {:el :concept
   :id :overarch.concepts/person
   :name "Person"
   :desc "A human actor or role."}

  ;;
  ;; Concept
  ;;
  {:el :concept
   :id :overarch.concepts.concept
   :name "Concept"
   :desc ""}

  ;;
  ;; Architecture
  ;;
  {:el :concept
   :id :overarch.concepts/technical-architecture-node
   :name "Technical Architecture Node"
   :desc "A technical node in the architecture model."}

  {:el :concept
   :id :overarch.concepts/system
   :name "System"
   :desc "A system relevant in the architecture."}
  {:el :concept
   :id :overarch.concepts/container
   :name "Container"
   :desc "A container is a part of a system and describes a deployed process in the architecture (e.g. a service or an application)."}
  {:el :concept
   :id :overarch.concepts/component
   :name "Component"
   :desc "A compontent is a part of a container and describes a (logical) building block of a container (e.g. a module or a layer)."}

  ;;
  ;; Code
  ;;
  {:el :concept
   :id :overarch.concepts/package
   :name "Package"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/interface
   :name "Interface"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/class
   :name "Class"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/field
   :name "Field"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/method
   :name "Method"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/parameter
   :name "Parameter"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/enum
   :name "Enum"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/enum-value
   :name "Enum Value"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/annotation
   :name "Annotation"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/stereotype
   :name "Stereotype"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/namespace
   :name "Namespace"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/protocol
   :name "Protocol"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/function
   :name "Function"
   :desc ""}

  ;;
  ;; Deployment
  ;;
  {:el :concept
   :id :overarch.concepts/node
   :name "Node"
   :desc ""}

  ;;
  ;; Use Case
  ;;
  {:el :concept
   :id :overarch.concepts/use-case
   :name "Use Case"
   :desc "A use case in the use case model."}
  {:el :concept
   :id :overarch.concepts/actor
   :name "Actor"
   :desc "An actor (role) in a use case model."}

  ;;
  ;; Organization
  ;;
  {:el :concept
   :id :overarch.concepts/organization
   :name "Organization"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/org-unit
   :name "Organizational Unit"
   :desc ""}

  ;;
  ;; Process
  ;;
  {:el :concept
   :id :overarch.concepts/capability
   :name "Capability"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/process
   :name "Process"
   :desc ""}

  ;;
  ;; State Machine
  ;;
  {:el :concept
   :id :overarch.concepts/state-machine
   :name "State Machine"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/state
   :name "State"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/start-state
   :name "Start State"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/end-state
   :name "End State"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/fork
   :name "Fork"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/join
   :name "Join"
   :desc ""}
  {:el :concept
   :id :overarch.concepts/choice
   :name "Choice"
   :desc ""}

  ;;;
  ;;; Concept Relations
  ;;;
  ;;
  ;; Architecture
  ;;
  {:el :is-a
   :id :overarch.concepts/system-is-a-technical-architecture-node
   :from :overarch.concepts/system
   :to :overarch.concepts/technical-architecture-node
   :name "is a"
   :desc ""}
  {:el :is-a
   :id :overarch.concepts/container-is-a-technical-architecture-node
   :from :overarch.concepts/container
   :to :overarch.concepts/technical-architecture-node
   :name "is a"
   :desc ""}
  {:el :is-a
   :id :overarch.concepts/component-is-a-technical-architecture-node
   :from :overarch.concepts/component
   :to :overarch.concepts/technical-architecture-node
   :name "is a"
   :desc ""}

  {:el :has
   :id :overarch.concepts/system-contains-container
   :from :overarch.concepts/system
   :to :overarch.concepts/container
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/container-contains-component
   :from :overarch.concepts/container
   :to :overarch.concepts/component
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/component-contains-package
   :from :overarch.concepts/component
   :to :overarch.concepts/package
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/component-contains-namespace
   :from :overarch.concepts/component
   :to :overarch.concepts/namespace
   :name "contains"
   :desc ""}

  {:el :rel
   :id :overarch.concepts/person-uses-technical-architecture-node
   :from :overarch.concepts/person
   :to :overarch.concepts/technical-architecture-node
   :name "request"
   :desc ""}

  ;;
  ;; Code
  ;;
  {:el :has
   :id :overarch.concepts/package-contains-package
   :from :overarch.concepts/package
   :to :overarch.concepts/package
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/package-contains-interface
   :from :overarch.concepts/package
   :to :overarch.concepts/interface
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/package-contains-class
   :from :overarch.concepts/package
   :to :overarch.concepts/class
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/package-contains-enum
   :from :overarch.concepts/package
   :to :overarch.concepts/enum
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/package-contains-annotation
   :from :overarch.concepts/package
   :to :overarch.concepts/annotation
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/interface-contains-method
   :from :overarch.concepts/interface
   :to :overarch.concepts/method
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/class-contains-field
   :from :overarch.concepts/class
   :to :overarch.concepts/field
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/class-contains-method
   :from :overarch.concepts/class
   :to :overarch.concepts/method
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/method-contains-parameter
   :from :overarch.concepts/method
   :to :overarch.concepts/parameter
   :name "contains"
   :desc ""}
  {:el :rel
   :id :overarch.concepts/class-implements-interface
   :from :overarch.concepts/class
   :to :overarch.concepts/interface
   :name "implementation"
   :desc ""}
  {:el :rel
   :id :overarch.concepts/class-inherits-class
   :from :overarch.concepts/class
   :to :overarch.concepts/class
   :name "inheritance"
   :desc ""}
  {:el :has
   :id :overarch.concepts/enum-contains-enum-value
   :from :overarch.concepts/enum
   :to :overarch.concepts/enum-value
   :name "contains"
   :desc ""}

  {:el :has
   :id :overarch.concepts/namespace-contains-protocol
   :from :overarch.concepts/namespace
   :to :overarch.concepts/protocol
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/namespace-contains-field
   :from :overarch.concepts/namespace
   :to :overarch.concepts/field
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/namespace-contains-function
   :from :overarch.concepts/namespace
   :to :overarch.concepts/function
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/protocol-contains-function
   :from :overarch.concepts/protocol
   :to :overarch.concepts/function
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/function-contains-parameter
   :from :overarch.concepts/function
   :to :overarch.concepts/parameter
   :name "contains"
   :desc ""}


  ;;
  ;; Deployment
  ;;
  {:el :has
   :id :overarch.concepts/node-contains-node
   :from :overarch.concepts/node
   :to :overarch.concepts/node
   :name "contains"
   :desc ""}

  {:el :rel
   :id :overarch.concepts/node-links-node
   :from :overarch.concepts/node
   :to :overarch.concepts/node
   :name "link"
   :desc ""}

  {:el :rel
   :id :overarch.concepts/container-deployed-on-node
   :from :overarch.concepts/container
   :to :overarch.concepts/node
   :name "deployed on"
   :desc ""}

  ;;
  ;; State Machine
  ;;
  {:el :has
   :id :overarch.concepts/state-machine-contains-state
   :from :overarch.concepts/state-machine
   :to :overarch.concepts/state
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/state-contains-state
   :from :overarch.concepts/state
   :to :overarch.concepts/state
   :name "contains substate"
   :desc ""}
  {:el :is-a
   :id :overarch.concepts/start-state-is-a-state
   :from :overarch.concepts/start-state
   :to :overarch.concepts/state
   :name "is a"
   :desc ""}
  {:el :is-a
   :id :overarch.concepts/end-state-is-a-state
   :from :overarch.concepts/end-state
   :to :overarch.concepts/state
   :name "is a"
   :desc ""}
  {:el :is-a
   :id :overarch.concepts/fork-is-a-state
   :from :overarch.concepts/fork
   :to :overarch.concepts/state
   :name "is a"
   :desc ""}
  {:el :is-a
   :id :overarch.concepts/join-is-a-state
   :from :overarch.concepts/join
   :to :overarch.concepts/state
   :name "is a"
   :desc ""}
  {:el :is-a
   :id :overarch.concepts/choice-is-a-state
   :from :overarch.concepts/choice
   :to :overarch.concepts/state
   :name "is a"
   :desc ""}
  {:el :rel
   :id :overarch.concepts/state-transition-to-state
   :from :overarch.concepts/state
   :to :overarch.concepts/state
   :name "transition"}

  ;;
  ;; Use Case
  ;;
  {:el :is-a
   :id :overarch.concepts/person-is-a-actor
   :from :overarch.concepts/person
   :to :overarch.concepts/actor
   :name "is an"
   :desc ""}
  {:el :is-a
   :id :overarch.concepts/system-is-a-actor
   :from :overarch.concepts/system
   :to :overarch.concepts/actor
   :name "is an"
   :desc ""}
  {:el :rel
   :id :overarch.concepts/actor-uses-use-case
   :from :overarch.concepts/actor
   :to :overarch.concepts/use-case
   :name "uses"
   :desc ""}
  {:el :rel
   :id :overarch.concepts/use-case-includes-use-case
   :from :overarch.concepts/use-case
   :to :overarch.concepts/use-case
   :name "includes"
   :desc ""}
  {:el :rel
   :id :overarch.concepts/use-case-extends-use-case
   :from :overarch.concepts/use-case
   :to :overarch.concepts/use-case
   :name "extends"
   :desc ""}

  ;;
  ;; Organization
  ;;
  {:el :has
   :id :overarch.concepts/organization-contains-org-unit
   :from :overarch.concepts/organization
   :to :overarch.concepts/org-unit
   :name "contains"
   :desc ""}
  {:el :has
   :id :overarch.concepts/org-unit-contains-org-unit
   :from :overarch.concepts/org-unit
   :to :overarch.concepts/org-unit
   :name "contains"
   :desc ""}

  ;;
  ;; Process
  ;;
  {:el :rel
   :id :overarch.concepts/process-implements-capability
   :from :overarch.concepts/process
   :to :overarch.concepts/capability
   :name "implements"
   :desc ""}

  ;;
  ;; Model
  ;;
  {:el :rel
   :id :overarch.concepts/technical-architecture-node-implements-use-case
   :from :overarch.concepts/technical-architecture-node
   :to :overarch.concepts/use-case
   :name "implements"
   :desc ""}
  {:el :rel
   :id :overarch.concepts/technical-architecture-node-implements-process
   :from :overarch.concepts/technical-architecture-node
   :to :overarch.concepts/process
   :name "implements"
   :desc ""}
  {:el :rel
   :id :overarch.concepts/technical-architecture-node-implements-state-machine
   :from :overarch.concepts/technical-architecture-node
   :to :overarch.concepts/state-machine
   :name "implements"
   :desc ""}

  ;
  }