;;;; 
;;;; Concept Views for Overarch
;;;;
#{
  {:el :concept-view
   :id :overarch.concepts/concept-view
   :spec {:selection {:namespace-prefix "overarch.concepts"}}
   :name "Concept Map for Overarch"
   :desc "Contains the relevant concepts for overarch."}  
}