
#{{:node :system
   :id :system-a
   :name "System A"}
  {:node :container
   :id :container-a1
   :name "Container A1"}
  {:node :system
   :id :system-b
   :name "System B"
   :external true}
  {:rel :child
   :id :system-a-child-container-a1
   :from :system-a
   :to :container-a1
   :name "child"}
  {:rel :request
   :id :system-a-calls-system-b
   :from :system-a
   :to :system-b
   :name "requests"}

  {:view :context-view
   :id :system-a-context-view
   :title "System A Context View"
   :content [{:ref :system-a}
             {:ref :system-b}
             ;
             ]}

  
  :dependency
  :request
  :response
  :publish
  :subscribe
  :dataflow
  ;
  }

