[; Overarch model generators 
 {:selection {:namespace "overarch.data-model"}
  :template "overarch/data-model/spec.clj.cmb"
  :engine :combsci
  :subdir "src"
  :base-namespace "overarch.domain"
  :base-name "spec"
  :extension "clj"}
 {:selection {:namespace "overarch.data-model" :tags #{"element-hierarchy" "type-hierarchy"}}
  :overarch-models ["architecture-model" "class-model" "concept-model"
                  "deployment-model" "state-machine-model" "use-case-model"] 
  :template "overarch/data-model/hierarchy.clj.cmb"
  :engine :combsci
  :subdir "src"
  :base-namespace "overarch.domain"
  :base-name "hierarchy"
  :extension "clj"}
 {:selection {:namespace "overarch.data-model"}
  :overarch-models ["architecture-model" "class-model" "concept-model"
                    "deployment-model" "state-machine-model" "use-case-model"] 
  :template "overarch/data-model/categories.clj.cmb"
  :engine :combsci
  :subdir "src"
  :base-namespace "overarch.domain"
  :base-name "categories"
  :extension "clj"}
 ]
