#{  ;
  {:el :system
   :id :test.collapsed/system
   :name "System"
   :ct #{{:el :container
          :id :test.collapsed/container
          :name "Container"
          :ct #{{:el :component
                 :id :test.collapsed/component
                 :name "Component"
                 :ct #{}}}}}}

  {:el :node
   :id :test.collapsed/vm
   :name "VM"
   :ct #{{:el :node
          :id :test.collapsed/k8s
          :name "Kubernetes"
          :ct #{{:el :node
                 :id :test.collapsed/k8s-namespace
                 :name "Namespace"}}}}}
  ;
  }