;;;;
;;;; Architecture Model of the Overarch System
;;;;
#{;;;
  ;;; Architecture Model Elements
  ;;;

  ;;
  ;; Actors
  ;;
  {:el :person
   :id :overarch/modeller
   :name "Modeller"
   :desc "Models the architecture of a system and specifies views of the model."}

  ;;
  ;; External Systems
  ;;
  {:el :system
   :id :overarch/editor
   :external true
   :name "Editor/IDE"
   :desc "Tool for describing the architecture model and the views."}

  ;;
  ;; Internal System
  ;;
  {:el :system
   :id :overarch/overarch
   :name "Overarch"
   :desc "Provides the schema for architecture models and views. Generates representations like diagrams."
   :ct #{{:el :container
          :id :overarch/overarch-cli
          :name "Overarch CLI"
          :desc "CLI tool for the export of the architecture models into different formats."
          :tech "Clojure"
          :ct #{{:el :component
                 :id :overarch.domain/model
                 :name "domain.model"
                 :desc "Contains the model specification and functions."}
                {:el :component
                 :id :overarch.domain/view
                 :name "domain.view"
                 :desc "Contains the view specification and functions."}
                {:el :component
                 :id :overarch.application/model-repository
                 :name "application.model-repository"
                 :desc "Contains the repository multimethods to be implemented by the concrete repository adapter implementations."}
                {:el :component
                 :id :overarch.application/export
                 :name "application.export"
                 :desc "Contains the export multimethods to be implemented by the concrete export adapter implementations."}
                {:el :component
                 :id :overarch.application/render
                 :name "application.render"
                 :desc "Contains the render multimethods to be implemented by the concrete render adapter implementations."}
                {:el :component
                 :id :overarch.adapter.render/plantuml
                 :name "adapter.render.plantuml"
                 :desc "Contains the implementation of the PlantUML rendering."}
                {:el :component
                 :id :overarch.adapter.render/markdown
                 :name "adapter.render.markdown"
                 :desc "Contains the implementation of the Markdown rendering."}
                {:el :component
                 :id :overarch.adapter.render/graphviz
                 :name "adapter.render.graphviz"
                 :desc "Contains the implementation of the Graphviz rendering."}
                {:el :component
                 :id :overarch.adapter.exports/json
                 :name "adapter.exports.json"
                 :desc "Contains the implementation of the JSON export."}
                {:el :component
                 :id :overarch.adapter.exports/structurizr
                 :name "adapter.exports.structurizr"
                 :desc "Contains the implementation of the Structurizr export."}
                {:el :component
                 :id :overarch.adapter.ui/cli
                 :name "adapter.ui.cli"
                 :desc "Parses the command line options and dispatches functions on them."}
                {:el :component
                 :id :overarch.util/functions
                 :name "util.functions"
                 :desc "Contains common functions."}
                {:el :component
                 :id :overarch.util/io
                 :name "util.io"
                 :desc "Contains I/O related functions."}}}}}

  ;;;
  ;;; Architecture Model Relations
  ;;;
  ;;
  ;; Use Case Relations
  ;;
  {:el :rel
   :id :overarch/modeller-models-in-editor
   :from :overarch/modeller
   :to :overarch/editor
   :name "models in"
   :desc "creates models and views"}
  {:el :rel
   :id :overarch/modeller-uses-overarch
   :from :overarch/modeller
   :to :overarch/overarch
   :name "uses"
   :desc "for Diagram generation and model transformation."}
  {:el :rel
   :id :overarch/modeller-uses-overarch-cli
   :from :overarch/modeller
   :to :overarch/overarch-cli
   :name "uses"
   :desc "for diagram generation and model transformation."}

  ;;
  ;; Component Relations
  ;;
  {:el :rel
   :id :overarch/modeller-starts-cli
   :from :overarch/modeller
   :to :overarch.adapter.ui/cli
   :name "starts"
   :desc "with the provided options."}

  {:el :rel
   :id :overarch/cli-loads-data
   :from :overarch.adapter.ui/cli
   :to :overarch.application/model-repository
   :name "loads"
   :desc "model"}
  {:el :rel
   :id :overarch/cli-calls-render
   :from :overarch.adapter.ui/cli
   :to :overarch.application/render
   :name "calls"
   :desc "render functions"}
  {:el :rel
   :id :overarch/cli-calls-export
   :from :overarch.adapter.ui/cli
   :to :overarch.application/export
   :name "calls"
   :desc "export functions"}
  {:el :rel
   :id :overarch/plantuml-implements-render
   :from :overarch.adapter.render/plantuml
   :to :overarch.application/render
   :name "implements"
   :desc "render functions for PlantUML diagrams"}
  {:el :rel
   :id :overarch/plantuml-accesses-model
   :from :overarch.adapter.render/plantuml
   :to :overarch.domain/model
   :name "queries"
   :desc "model"}
  {:el :rel
   :id :overarch/plantuml-calls-io
   :from :overarch.adapter.render/plantuml
   :to :overarch.util/io
   :name "calls"
   :desc "loads sprite mappings"}
  {:el :rel
   :id :overarch/plantuml-calls-view
   :from :overarch.adapter.render/plantuml
   :to :overarch.domain/view
   :name "queries"
   :desc "view"}
  {:el :rel
   :id :overarch/markdown-implements-render
   :from :overarch.adapter.render/markdown
   :to :overarch.application/render
   :name "implements"
   :desc "render functions for Markdown representations"}
  {:el :rel
   :id :overarch/markdown-accesses-model
   :from :overarch.adapter.render/markdown
   :to :overarch.domain/model
   :name "queries"
   :desc "model"}
  {:el :rel
   :id :overarch/markdown-calls-view
   :from :overarch.adapter.render/markdown
   :to :overarch.domain/view
   :name " queries"
   :desc "view"}
  {:el :rel
   :id :overarch/graphviz-implements-render
   :from :overarch.adapter.render/graphviz
   :to :overarch.application/render
   :name "implements"
   :desc "render functions for GraphViz diagrams"}
  {:el :rel
   :id :overarch/graphviz-accesses-model
   :from :overarch.adapter.render/graphviz
   :to :overarch.domain/model
   :name "queries"
   :desc "model"}
  {:el :rel
   :id :overarch/graphviz-calls-view
   :from :overarch.adapter.render/graphviz
   :to :overarch.domain/view
   :name "calls"
   :desc "view queries and rendering functions"}
  {:el :rel
   :id :overarch/json-implements-export
   :from :overarch.adapter.exports/json
   :to :overarch.application/export
   :name "implements"
   :desc "export functions for JSON"}
  {:el :rel
   :id :overarch/json-calls-io
   :from :overarch.adapter.exports/json
   :to :overarch.util/io
   :name "calls"
   :desc "writes JSON"}
  {:el :rel
   :id :overarch/structurizr-implements-export
   :from :overarch.adapter.exports/structurizr
   :to :overarch.application/export
   :name "implements"
   :desc "export functions for Structurizr"}
  {:el :rel
   :id :overarch/structurizr-accesses-model
   :from :overarch.adapter.exports/structurizr
   :to :overarch.domain/model
   :name "queries"
   :desc "model"}
  {:el :rel
   :id :overarch/view-queries-model
   :from :overarch.domain/view
   :to :overarch.domain/model
   :name "queries"
   :desc "model"}
  ;
  }
