#{{:el :context-view
   :id :overarch/context-view
   :title "Context View of Overarch"
   :ct [; actors
        {:ref :overarch/modeller}
        ; external systems
        {:ref :overarch/editor}
        ; internal systems
        {:ref :overarch/overarch}
        ; relations
        {:ref :overarch/modeller-models-in-editor}
        {:ref :overarch/modeller-uses-overarch}
        ]}
  }