;;;;
;;;; Views of the Overarch Model
;;;;
#{
  ;;;
  ;;; Use Case Views
  ;;;
  {:el :use-case-view
   :id :overarch/overarch-use-case-view
   :spec {:layout :left-right}
   :title "Use Case View of Overarch"
   :ct [;; actors
        {:ref :overarch/modeller}
        {:ref :overarch/editor}

        ;; use cases
        {:ref :overarch/uc-model-system}
        {:ref :overarch/uc-define-views}
        {:ref :overarch/uc-export-model}
        {:ref :overarch/uc-export-json}
        {:ref :overarch/uc-export-structurizr}
        {:ref :overarch/uc-render-views}
        {:ref :overarch/uc-render-plantuml}
        {:ref :overarch/uc-render-markdown}
        {:ref :overarch/uc-render-graphviz}

        ;; relations
        {:ref :overarch/modeller-wants-to-model-system}
        {:ref :overarch/uc-model-system-uses-editor}
        {:ref :overarch/modeller-wants-to-define-views}
        {:ref :overarch/uc-define-views-uses-editor}
        {:ref :overarch/modeller-wants-to-export-model}
        {:ref :overarch/modeller-wants-to-render-views}
        {:ref :overarch/uc-export-json-extends-uc-export-model :direction :up}
        {:ref :overarch/uc-export-structurizr-extends-uc-export-model :direction :up}
        {:ref :overarch/uc-render-graphviz-extends-uc-render-views :direction :up}
        {:ref :overarch/uc-render-markdown-extends-uc-render-views :direction :up}
        {:ref :overarch/uc-render-plantuml-extends-uc-render-views :direction :up}]}
  
  ;;;
  ;;; Architecture Views
  ;;;
  {:el :context-view
   :id :overarch/overarch-context-view
   :title "Context View of Overarch"
   :ct [;; actors
        {:ref :overarch/modeller}
        ;; external systems
        {:ref :overarch/editor}
        ;; internal systems
        {:ref :overarch/overarch}
        ;; relations
        {:ref :overarch/modeller-models-in-editor}
        {:ref :overarch/modeller-uses-overarch}]}
  {:el :container-view
   :id :overarch/overarch-container-view
   :title "Container View of Overarch"
   :ct [;; actors
        {:ref :overarch/modeller}
        ;; external systems
        {:ref :overarch/editor}
        ;; internal systems
        {:ref :overarch/overarch}
        ;; relations
        {:ref :overarch/modeller-models-in-editor}
        {:ref :overarch/modeller-uses-overarch-cli}]}
  {:el :component-view
   :id :overarch/overarch-component-view
   :title "Component View of Overarch"
   :ct [;; actors
        {:ref :overarch/modeller}
        ;; external systems
        {:ref :overarch/editor}
        ;; internal systems
        {:ref :overarch/overarch}
        ;; relations
        {:ref :overarch/modeller-models-in-editor}
        {:ref :overarch/modeller-starts-cli}
        {:ref :overarch/cli-loads-data}
        {:ref :overarch/cli-calls-export}
        {:ref :overarch/cli-calls-render}
        {:ref :overarch/json-implements-export}
        {:ref :overarch/json-calls-io}
        {:ref :overarch/structurizr-implements-export}
        {:ref :overarch/structurizr-accesses-model}
        {:ref :overarch/graphviz-implements-render}
        {:ref :overarch/graphviz-accesses-model}
        {:ref :overarch/graphviz-calls-view}
;        {:ref :overarch/graphviz-calls-io}
        {:ref :overarch/markdown-implements-render}
        {:ref :overarch/markdown-accesses-model}
        {:ref :overarch/markdown-calls-view}
;        {:ref :overarch/render-markdown-calls-io}
        {:ref :overarch/plantuml-implements-render}
        {:ref :overarch/plantuml-accesses-model}
        {:ref :overarch/plantuml-calls-view}
        {:ref :overarch/plantuml-calls-io}
        {:ref :overarch/view-queries-model}]}

  ;;
  ;; Data Model Views
  ;;
  {:el :class-view
   :id :overarch/data-model-overview
   :spec {:layout :left-right}
   :title "Overview of the Overarch Data Model"
   :ct [;; elements
        {:ref :overarch/element}
        {:ref :overarch/identifiable-element}
        {:ref :overarch/named-element}
        {:ref :overarch/identifiable-named-element}
        {:ref :overarch/relational-element}
        {:ref :overarch/named-relational-element}
        {:ref :overarch/technical-element}
        {:ref :overarch/architecture-model-element}
        {:ref :overarch/technical-architecture-element}
        {:ref :overarch/deployment-model-element}
        {:ref :overarch/state-machine-element}
        {:ref :overarch/class-model-element}
        {:ref :overarch/use-case-model-element}
        {:ref :overarch/concept-model-element}

        {:ref :overarch/ref}

        {:ref :overarch/concept}
        {:ref :overarch/context-boundary}
        {:ref :overarch/enterprise-boundary}
        {:ref :overarch/person}
        {:ref :overarch/system}
        {:ref :overarch/container}
        {:ref :overarch/component}
        {:ref :overarch/rel}

        {:ref :overarch/node}

        {:ref :overarch/actor}
        {:ref :overarch/use-case}

        {:ref :overarch/package}
        {:ref :overarch/namespace}
        {:ref :overarch/interface}
        {:ref :overarch/protocol}
        {:ref :overarch/class}
        {:ref :overarch/enum}
        {:ref :overarch/field}
        {:ref :overarch/method}
        {:ref :overarch/implementation}
        {:ref :overarch/inheritance}
        {:ref :overarch/composition}
        {:ref :overarch/aggregation}
        {:ref :overarch/association}
        {:ref :overarch/dependency}

        {:ref :overarch/state-machine}
        {:ref :overarch/start-state}
        {:ref :overarch/state}
        {:ref :overarch/end-state}
        {:ref :overarch/fork}
        {:ref :overarch/join}
        {:ref :overarch/choice}
        {:ref :overarch/transition}

        {:ref :overarch/view}
        {:ref :overarch/rendering-spec}

        {:ref :overarch/architecture-view}
        {:ref :overarch/system-landscape-view}
        {:ref :overarch/context-view}
        {:ref :overarch/container-view}
        {:ref :overarch/component-view}
        {:ref :overarch/deployment-view}
        {:ref :overarch/dynamic-view}
        {:ref :overarch/class-view}
        {:ref :overarch/state-machine-view}
        {:ref :overarch/use-case-view}
        {:ref :overarch/concept-view}
        {:ref :overarch/glossary-view}

        ;; relations
        {:ref :overarch/identifiable-element-is-a-element}
        {:ref :overarch/named-element-is-a-element}
        {:ref :overarch/identifiable-named-element-is-a-identifiable-element}
        {:ref :overarch/identifiable-named-element-is-a-named-element}
        {:ref :overarch/relational-element-is-a-identifiable-element}
        {:ref :overarch/named-relational-element-is-a-named-element}
        {:ref :overarch/named-relational-element-is-a-relational-element}

        {:ref :overarch/architecture-model-element-is-a-identifiable-named-element}
        {:ref :overarch/technical-architecture-element-is-a-architecture-model-element}
        {:ref :overarch/technical-architecture-element-is-a-technical-element}
        {:ref :overarch/context-boundary-is-a-architecture-model-element}
        {:ref :overarch/enterprise-boundary-is-a-architecture-model-element}
        {:ref :overarch/person-is-a-architecture-model-element}
        {:ref :overarch/system-is-a-technical-architecture-element}
        {:ref :overarch/system-contains-containers}
        {:ref :overarch/container-is-a-technical-architecture-element}
        {:ref :overarch/container-contains-components}
        {:ref :overarch/component-is-a-technical-architecture-element}
        {:ref :overarch/rel-is-a-named-relational-element}
        {:ref :overarch/rel-is-a-technical-architecture-element}

        {:ref :overarch/deployment-model-element-is-a-identifiable-named-element}

        {:ref :overarch/deployment-model-element-is-a-technical-element}
        {:ref :overarch/node-is-a-deployment-model-element}
        {:ref :overarch/node-contains-deployment-model-element}
        {:ref :overarch/container-is-a-deployment-model-element}

        {:ref :overarch/state-machine-element-is-a-identifiable-named-element}
        {:ref :overarch/state-machine-contains-state-machine-element}
        {:ref :overarch/start-state-is-a-state-machine-element}
        {:ref :overarch/state-is-a-state-machine-element}
        {:ref :overarch/state-contains-state-machine-element}
        {:ref :overarch/end-state-is-a-state-machine-element}
        {:ref :overarch/fork-is-a-state-machine-element}
        {:ref :overarch/join-is-a-state-machine-element}
        {:ref :overarch/choice-is-a-state-machine-element}
        {:ref :overarch/transition-is-a-named-relational-element}
        {:ref :overarch/transition-is-a-state-machine-element}

        {:ref :overarch/class-model-element-is-a-identifiable-named-element}
        {:ref :overarch/package-is-a-class-model-element}
        {:ref :overarch/package-contains-class-model-element}
        {:ref :overarch/namespace-is-a-class-model-element}
        {:ref :overarch/namespace-contains-class-model-element}
        {:ref :overarch/interface-is-a-class-model-element}
        {:ref :overarch/interface-contains-method}
        {:ref :overarch/protocol-is-a-class-model-element}
        {:ref :overarch/protocol-contains-method}
        {:ref :overarch/class-is-a-class-model-element}
        {:ref :overarch/class-contains-field}
        {:ref :overarch/class-contains-method}
        {:ref :overarch/enum-is-a-class-model-element}
        {:ref :overarch/implementation-is-a-relational-element}
        {:ref :overarch/implementation-is-a-class-model-element}
        {:ref :overarch/inheritance-is-a-relational-element}
        {:ref :overarch/inheritance-is-a-class-model-element}
        {:ref :overarch/composition-is-a-relational-element}
        {:ref :overarch/composition-is-a-class-model-element}
        {:ref :overarch/aggregation-is-a-relational-element}
        {:ref :overarch/aggregation-is-a-class-model-element}
        {:ref :overarch/association-is-a-relational-element}
        {:ref :overarch/association-is-a-class-model-element}
        {:ref :overarch/dependency-is-a-relational-element}
        {:ref :overarch/dependency-is-a-class-model-element}
        {:ref :overarch/field-is-a-named-element}
        {:ref :overarch/method-is-a-named-element}

        {:ref :overarch/use-case-model-element-is-a-identifiable-named-element}
        {:ref :overarch/actor-is-a-use-case-model-element}
        {:ref :overarch/person-is-a-use-case-model-element}
        {:ref :overarch/system-is-a-use-case-model-element}
        {:ref :overarch/use-case-is-a-use-case-model-element}

        {:ref :overarch/concept-model-element-is-a-identifiable-named-element}
        {:ref :overarch/concept-is-a-concept-model-element}
        {:ref :overarch/enterprise-boundary-is-a-concept-model-element}
        {:ref :overarch/context-boundary-is-a-concept-model-element}
        {:ref :overarch/person-is-a-concept-model-element}
        {:ref :overarch/system-is-a-concept-model-element}
        {:ref :overarch/container-is-a-concept-model-element}

        {:ref :overarch/view-is-a-identifiable-element}
        {:ref :overarch/view-contains-rendering-spec}
        {:ref :overarch/architecture-view-is-a-view}
        {:ref :overarch/architecture-view-contains-architecture-model-element}
        {:ref :overarch/system-landscape-view-is-a-architecture-view}
        {:ref :overarch/context-view-is-a-architecture-view}
        {:ref :overarch/container-view-is-a-architecture-view}
        {:ref :overarch/component-view-is-a-architecture-view}
        {:ref :overarch/dynamic-view-is-a-architecture-view}
        {:ref :overarch/deployment-view-is-a-view}
        {:ref :overarch/deployment-view-contains-deployment-model-element}
        {:ref :overarch/class-view-is-a-view}
        {:ref :overarch/class-view-contains-class-model-element}
        {:ref :overarch/state-machine-view-is-a-view}
        {:ref :overarch/state-machine-view-contains-state-machine}
        {:ref :overarch/use-case-view-is-a-view}
        {:ref :overarch/use-case-view-contains-use-case-model-element}
        {:ref :overarch/concept-view-is-a-view}
        {:ref :overarch/concept-view-contains-concept-model-element}
        {:ref :overarch/glossary-view-is-a-view}
        {:ref :overarch/glossary-view-contains-concept-model-element}
        ;
        ]}

  {:el :class-view
   :id :overarch/architecture-model-elements-overview
;   :spec {:layout :left-right}
   :title "Overview of the Architecture and Deployment Model Elements"
   :ct [;elements
        {:ref :overarch/element}
        {:ref :overarch/identifiable-element}
        {:ref :overarch/named-element}
        {:ref :overarch/identifiable-named-element}
        {:ref :overarch/relational-element}
        {:ref :overarch/named-relational-element}
        {:ref :overarch/technical-element}
        {:ref :overarch/architecture-model-element}
        {:ref :overarch/technical-architecture-element}
        {:ref :overarch/deployment-model-element}

        {:ref :overarch/context-boundary}
        {:ref :overarch/enterprise-boundary}
        {:ref :overarch/person}
        {:ref :overarch/system}
        {:ref :overarch/container}
        {:ref :overarch/component}
        {:ref :overarch/rel}

        {:ref :overarch/node}

        ;relations
        {:ref :overarch/identifiable-element-is-a-element}
        {:ref :overarch/named-element-is-a-element}
        {:ref :overarch/identifiable-named-element-is-a-identifiable-element}
        {:ref :overarch/identifiable-named-element-is-a-named-element}
        {:ref :overarch/relational-element-is-a-identifiable-element}
        {:ref :overarch/named-relational-element-is-a-named-element}
        {:ref :overarch/named-relational-element-is-a-relational-element}

        {:ref :overarch/architecture-model-element-is-a-identifiable-named-element}
        {:ref :overarch/technical-architecture-element-is-a-architecture-model-element}
        {:ref :overarch/technical-architecture-element-is-a-technical-element}
        {:ref :overarch/context-boundary-is-a-architecture-model-element}
        {:ref :overarch/enterprise-boundary-is-a-architecture-model-element}
        {:ref :overarch/person-is-a-architecture-model-element}
        {:ref :overarch/system-is-a-technical-architecture-element}
        {:ref :overarch/system-contains-containers}
        {:ref :overarch/container-is-a-technical-architecture-element}
        {:ref :overarch/container-contains-components}
        {:ref :overarch/component-is-a-technical-architecture-element}
        {:ref :overarch/rel-is-a-named-relational-element}
        {:ref :overarch/rel-is-a-technical-architecture-element}

        {:ref :overarch/deployment-model-element-is-a-identifiable-named-element}

        {:ref :overarch/deployment-model-element-is-a-technical-element}
        {:ref :overarch/node-is-a-deployment-model-element}
        {:ref :overarch/node-contains-deployment-model-element}
        {:ref :overarch/container-is-a-deployment-model-element}

        ;
        ]}

  {:el :class-view
   :id :overarch/class-model-elements-overview
;   :spec {:layout :left-right}
   :title "Overview of the Class Model Elements"
   :ct [;elements
        {:ref :overarch/element}
        {:ref :overarch/identifiable-element}
        {:ref :overarch/named-element}
        {:ref :overarch/identifiable-named-element}
        {:ref :overarch/relational-element}
        {:ref :overarch/named-relational-element}
        {:ref :overarch/technical-element}
        {:ref :overarch/class-model-element}

        {:ref :overarch/package}
        {:ref :overarch/namespace}
        {:ref :overarch/interface}
        {:ref :overarch/protocol}
        {:ref :overarch/class}
        {:ref :overarch/enum}
        {:ref :overarch/field}
        {:ref :overarch/method}
        {:ref :overarch/implementation}
        {:ref :overarch/inheritance}
        {:ref :overarch/composition}
        {:ref :overarch/aggregation}
        {:ref :overarch/association}
        {:ref :overarch/dependency}

        ;relations
        {:ref :overarch/identifiable-element-is-a-element}
        {:ref :overarch/named-element-is-a-element}
        {:ref :overarch/identifiable-named-element-is-a-identifiable-element}
        {:ref :overarch/identifiable-named-element-is-a-named-element}
        {:ref :overarch/relational-element-is-a-identifiable-element}
        {:ref :overarch/named-relational-element-is-a-named-element}
        {:ref :overarch/named-relational-element-is-a-relational-element}

        {:ref :overarch/class-model-element-is-a-identifiable-named-element}
        {:ref :overarch/package-is-a-class-model-element}
        {:ref :overarch/package-contains-class-model-element}
        {:ref :overarch/namespace-is-a-class-model-element}
        {:ref :overarch/namespace-contains-class-model-element}
        {:ref :overarch/interface-is-a-class-model-element}
        {:ref :overarch/interface-contains-method}
        {:ref :overarch/protocol-is-a-class-model-element}
        {:ref :overarch/protocol-contains-method}
        {:ref :overarch/class-is-a-class-model-element}
        {:ref :overarch/class-contains-field}
        {:ref :overarch/class-contains-method}
        {:ref :overarch/enum-is-a-class-model-element}
        {:ref :overarch/implementation-is-a-relational-element}
        {:ref :overarch/implementation-is-a-class-model-element}
        {:ref :overarch/inheritance-is-a-relational-element}
        {:ref :overarch/inheritance-is-a-class-model-element}
        {:ref :overarch/composition-is-a-relational-element}
        {:ref :overarch/composition-is-a-class-model-element}
        {:ref :overarch/aggregation-is-a-relational-element}
        {:ref :overarch/aggregation-is-a-class-model-element}
        {:ref :overarch/association-is-a-relational-element}
        {:ref :overarch/association-is-a-class-model-element}
        {:ref :overarch/dependency-is-a-relational-element}
        {:ref :overarch/dependency-is-a-class-model-element}
        {:ref :overarch/field-is-a-named-element}
        {:ref :overarch/method-is-a-named-element}
        ;
        ]}

  {:el :class-view
   :id :overarch/use-case-model-elements-overview
;   :spec {:layout :left-right}
   :title "Overview of the Use Case Model Elements"
   :ct [;elements
        {:ref :overarch/element}
        {:ref :overarch/identifiable-element}
        {:ref :overarch/named-element}
        {:ref :overarch/identifiable-named-element}
        {:ref :overarch/relational-element}
        {:ref :overarch/named-relational-element}
        {:ref :overarch/use-case-model-element}

        {:ref :overarch/person}
        {:ref :overarch/system}
        {:ref :overarch/actor}
        {:ref :overarch/use-case}

        ;relations
        {:ref :overarch/identifiable-element-is-a-element}
        {:ref :overarch/named-element-is-a-element}
        {:ref :overarch/identifiable-named-element-is-a-identifiable-element}
        {:ref :overarch/identifiable-named-element-is-a-named-element}
        {:ref :overarch/relational-element-is-a-identifiable-element}
        {:ref :overarch/named-relational-element-is-a-named-element}
        {:ref :overarch/named-relational-element-is-a-relational-element}

        {:ref :overarch/use-case-model-element-is-a-identifiable-named-element}
        {:ref :overarch/actor-is-a-use-case-model-element}
        {:ref :overarch/person-is-a-use-case-model-element}
        {:ref :overarch/system-is-a-use-case-model-element}
        {:ref :overarch/use-case-is-a-use-case-model-element}
        ;
        ]}

  {:el :class-view
   :id :overarch/state-machine-elements-overview
;   :spec {:layout :left-right}
   :title "Overview of the State Machine Elements"
   :ct [;elements
        {:ref :overarch/element}
        {:ref :overarch/identifiable-element}
        {:ref :overarch/named-element}
        {:ref :overarch/identifiable-named-element}
        {:ref :overarch/relational-element}
        {:ref :overarch/named-relational-element}
        {:ref :overarch/state-machine-element}

        {:ref :overarch/state-machine}
        {:ref :overarch/start-state}
        {:ref :overarch/state}
        {:ref :overarch/end-state}
        {:ref :overarch/fork}
        {:ref :overarch/join}
        {:ref :overarch/choice}
        {:ref :overarch/transition}

        ;relations
        {:ref :overarch/identifiable-element-is-a-element}
        {:ref :overarch/named-element-is-a-element}
        {:ref :overarch/identifiable-named-element-is-a-identifiable-element}
        {:ref :overarch/identifiable-named-element-is-a-named-element}
        {:ref :overarch/relational-element-is-a-identifiable-element}
        {:ref :overarch/named-relational-element-is-a-named-element}
        {:ref :overarch/named-relational-element-is-a-relational-element}

        {:ref :overarch/state-machine-element-is-a-identifiable-named-element}
        {:ref :overarch/state-machine-contains-state-machine-element}
        {:ref :overarch/start-state-is-a-state-machine-element}
        {:ref :overarch/state-is-a-state-machine-element}
        {:ref :overarch/state-contains-state-machine-element}
        {:ref :overarch/end-state-is-a-state-machine-element}
        {:ref :overarch/fork-is-a-state-machine-element}
        {:ref :overarch/join-is-a-state-machine-element}
        {:ref :overarch/choice-is-a-state-machine-element}
        {:ref :overarch/transition-is-a-named-relational-element}
        {:ref :overarch/transition-is-a-state-machine-element}
        ;
        ]}

  {:el :class-view
   :id :overarch/concept-model-elements-overview
;   :spec {:layout :left-right}
   :title "Overview of the Concept Model Elements"
   :ct [;elements
        {:ref :overarch/element}
        {:ref :overarch/identifiable-element}
        {:ref :overarch/named-element}
        {:ref :overarch/identifiable-named-element}
        {:ref :overarch/relational-element}
        {:ref :overarch/named-relational-element}
        {:ref :overarch/use-case-model-element}
        {:ref :overarch/concept-model-element}
        
        {:ref :overarch/concept}
        {:ref :overarch/person}
        {:ref :overarch/context-boundary}
        {:ref :overarch/enterprise-boundary}
        {:ref :overarch/system}
        {:ref :overarch/container}

        ;relations
        {:ref :overarch/identifiable-element-is-a-element}
        {:ref :overarch/named-element-is-a-element}
        {:ref :overarch/identifiable-named-element-is-a-identifiable-element}
        {:ref :overarch/identifiable-named-element-is-a-named-element}
        {:ref :overarch/relational-element-is-a-identifiable-element}
        {:ref :overarch/named-relational-element-is-a-named-element}
        {:ref :overarch/named-relational-element-is-a-relational-element}

        {:ref :overarch/concept-model-element-is-a-identifiable-named-element}
        {:ref :overarch/concept-is-a-concept-model-element}
        {:ref :overarch/enterprise-boundary-is-a-concept-model-element}
        {:ref :overarch/context-boundary-is-a-concept-model-element}
        {:ref :overarch/person-is-a-concept-model-element}
        {:ref :overarch/system-is-a-concept-model-element}
        {:ref :overarch/container-is-a-concept-model-element}

        ;
        ]}

  {:el :class-view
   :id :overarch/view-elements-overview
   :spec {:layout :left-right}
   :title "Overview of the View Elements"
   :ct [;elements
        {:ref :overarch/element}
        {:ref :overarch/identifiable-element}
        {:ref :overarch/architecture-model-element}
        {:ref :overarch/deployment-model-element}
        {:ref :overarch/class-model-element}
        {:ref :overarch/use-case-model-element}
        {:ref :overarch/state-machine}
        {:ref :overarch/concept-model-element}

        {:ref :overarch/ref}

        {:ref :overarch/view}
        {:ref :overarch/rendering-spec}

        {:ref :overarch/architecture-view}
        {:ref :overarch/system-landscape-view}
        {:ref :overarch/context-view}
        {:ref :overarch/container-view}
        {:ref :overarch/component-view}
        {:ref :overarch/deployment-view}
        {:ref :overarch/dynamic-view}
        {:ref :overarch/class-view}
        {:ref :overarch/state-machine-view}
        {:ref :overarch/use-case-view}
        {:ref :overarch/concept-view}
        {:ref :overarch/glossary-view}

        ;relations
        {:ref :overarch/identifiable-element-is-a-element}
;        {:ref :overarch/named-element-is-a-element}
;        {:ref :overarch/identifiable-named-element-is-a-identifiable-element}
;        {:ref :overarch/identifiable-named-element-is-a-named-element}

        {:ref :overarch/view-is-a-identifiable-element}
        {:ref :overarch/view-contains-rendering-spec}
        {:ref :overarch/architecture-view-is-a-view}
        {:ref :overarch/architecture-view-contains-architecture-model-element}
        {:ref :overarch/system-landscape-view-is-a-architecture-view}
        {:ref :overarch/context-view-is-a-architecture-view}
        {:ref :overarch/container-view-is-a-architecture-view}
        {:ref :overarch/component-view-is-a-architecture-view}
        {:ref :overarch/dynamic-view-is-a-architecture-view}
        {:ref :overarch/deployment-view-is-a-view}
        {:ref :overarch/deployment-view-contains-deployment-model-element}
        {:ref :overarch/class-view-is-a-view}
        {:ref :overarch/class-view-contains-class-model-element}
        {:ref :overarch/state-machine-view-is-a-view}
        {:ref :overarch/state-machine-view-contains-state-machine}
        {:ref :overarch/use-case-view-is-a-view}
        {:ref :overarch/use-case-view-contains-use-case-model-element}
        {:ref :overarch/concept-view-is-a-view}
        {:ref :overarch/concept-view-contains-concept-model-element}
        {:ref :overarch/glossary-view-is-a-view}
        {:ref :overarch/glossary-view-contains-concept-model-element}
          ;
        ]}}