{
  "Zookeeper" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "zookeeper"}
  "Aliyun" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "aliyun"}
  "User" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "user"}
  "Pubu" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "pubu"}
  "Couchbase" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "couchbase"}
  "Apache" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "apache"}
  "Loading" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "loading"}
  "Elasticsearch" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "elasticsearch"}
  "Cassandra" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "cassandra"}
  "OpenStack" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "openstack"}
  "ActiveMQ" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "activemq"}
  "AI" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ai"}
  "BI" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "bi"}
  "Python" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "python"}
  "Plus" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "plus"}
  "GUnicorn" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "gunicorn"}
  "Bell" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "bell"}
  "Redis" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "redis"}
  "MySQL" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "mysql"}
  "CI Large" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ci-large"}
  "Tomcat" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "tomcat"}
  "RabbitMQ" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "rabbitmq"}
  "OneAlert" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "onealert"}
  "Pause" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "pause"}
  "Play" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "play"}
  "Ruby" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ruby"}
  "Single Page" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "singlePage"}
  "Dashboard" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "dashboard"}
  "Question" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "question"}
  "SNMP" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "snmp"}
  "File" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "file"}
  "IIS" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "iis"}
  "Gearman" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "gearman"}
  "Windows" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "windows"}
  "Docker" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "docker"}
  "Keycloak" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "keycloak"}
  "PHP" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "php"}
  "Solr" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "solr"}
  "COG" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "cog"}
  "Linux" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "linux"}
  "MongoDB" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "mongodb"}
  "Jianliao" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "jianliao"}
  "CI" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ci"}
  "Copy" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "copy"}
  "Trash" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "trash"}
  "Overview" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "overview"}
  "Kafka" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "kafka"}
  "Remove Sign" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "remove-sign"}
  "Desktop" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "desktop"}
  "HAProxy" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "haproxy"}
  "Supervisord" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "supervisord"}
  "X" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "x"}
  "Java" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "java"}
  "Download" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "download"}
  "Nagios" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "nagios"}
  "Point" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "point"}
  "OneAPM" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "oneapmlogo"}
  "Right" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "right"}
  "MI" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "mi"}
  "PHP FPM" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "php_fpm"}
  "Exit" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "exit"}
  "HDFS" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "hdfs"}
  "Postgresql" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "postgresql"}
  "CouchDB" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "couchdb"}
  "BearyChat" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "bearychat"}
  "Tongzhi" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "tongzhi"}
  "Cacti" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "cacti"}
  "NodeJS" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "nodejs"}
  "Ct" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ct"}
  "Listalt" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "listalt"}
  "Memcached" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "memcached"}
  "Superset" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "superset"}
  "Left" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "left"}
  "Disable" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "disable"}
  "Nginx" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "nginx"}
  "Yanjing" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "yanjing"}
  "SQL Server" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "sqlserver"}
  "Mesos" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "mesos"}
  "Server" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "server"}
  "Edit" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "edit"}
}
