{"ActiveMQ"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "activemq"}
 "AI"            {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ai"}
 "Aliyun"        {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "aliyun"}
 "Apache"        {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "apache"}
 "BearyChat"     {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "bearychat"}
 "Bell"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "bell"}
 "BI"            {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "bi"}
 "Cacti"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "cacti"}
 "Cassandra"     {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "cassandra"}
 "CI"            {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ci"}
 "CI Large"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ci-large"}
 "COG"           {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "cog"}
 "Copy"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "copy"}
 "Couchbase"     {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "couchbase"}
 "CouchDB"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "couchdb"}
 "CT"            {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ct"}
 "Dashboard"     {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "dashboard"}
 "Desktop"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "desktop"}
 "Disable"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "disable"}
 "Docker"        {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "docker"}
 "Download"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "download"}
 "Edit"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "edit"}
 "ElasticSearch" {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "elasticsearch"}
 "Exit"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "exit"}
 "File"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "file"}
 "Gearman"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "gearman"}
 "GUnicorn"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "gunicorn"}
 "HAProxy"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "haproxy"}
 "HDFS"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "hdfs"}
 "IIS"           {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "iis"}
 "Java"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "java"}
 "Jianliao"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "jianliao"}
 "Kafka"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "kafka"}
 "Keycloak"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "keycloak"}
 "Left"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "left"}
 "Linux"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "linux"}
 "Listalt"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "listalt"}
 "Loading"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "loading"}
 "Memcached"     {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "memcached"}
 "Mesos"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "mesos"}
 "MI"            {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "mi"}
 "MongoDB"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "mongodb"}
 "MySQL"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "mysql"}
 "Nagios"        {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "nagios"}
 "Nginx"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "nginx"}
 "NodeJS"        {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "nodejs"}
 "OneAlert"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "onealert"}
 "OneAPM"        {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "oneapmlogo"}
 "OpenStack"     {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "openstack"}
 "Overview"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "overview"}
 "Question"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "question"}
 "Pause"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "pause"}
 "PHP"           {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "php"}
 "PHP FPM"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "php_fpm"}
 "Play"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "play"}
 "Plus"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "plus"}
 "Point"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "point"}
 "PostgreSQL"    {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "postgresql"}
 "Pubu"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "pubu"}
 "Python"        {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "python"}
 "RabbitMQ"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "rabbitmq"}
 "Redis"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "redis"}
 "Remove Sign"   {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "remove-sign"}
 "Right"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "right"}
 "Ruby"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "ruby"}
 "Server"        {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "server"}
 "Single Page"   {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "singlePage"}
 "SNMP"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "snmp"}
 "Solr"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "solr"}
 "SQL Server"    {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "sqlserver"}
 "Superset"      {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "superset"}
 "Supervisord"   {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "supervisord"}
 "Tomcat"        {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "tomcat"}
 "Tongzhi"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "tongzhi"}
 "Trash"         {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "trash"}
 "User"          {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "user"}
 "Windows"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "windows"}
 "X"             {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "x"}
 "Yanjing"       {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "yanjing"}
 "Zookeeper"     {:lib "cloudinsight" :prefix "cloudinsight" :path "" :name "zookeeper"}
 }
