{
  "Registrator" {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "registrator"}
  "Nexus"       {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "nexus"}
  "OpenLDAP"    {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "openldap"}
  "Cloudogu"    {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "cloudogu"}
  "User Mgmt"   {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "usermgmt"}
  "Jenkins"     {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "jenkins"}
  "Postfix"     {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "postfix"}
  "CAS"         {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "cas"}
  "SonarQube"   {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "sonarqube"}
  "Redmine"     {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "redmine"}
  "Cockpit"     {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "cockpit"}
  "Smeagol"     {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "smeagol"}
  "PlantUML"    {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "plantuml"}
  "Nginx"       {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "nginx"}
  "SCM"         {:lib "cloudogu" :prefix "cloudogu" :path "dogus" :name "scm"}
  "QEmu"        {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "qemu"}
  "Ubuntu"      {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "ubuntu"}
  "JUnit"       {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "junit"}
  "Etcd"        {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "etcd"}
  "Grafana"     {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "grafana"}
  "VirtualBox"  {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "virtualbox"}
  "VMware"      {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "vmware"}
  "Docker"      {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "docker"}
  "K8s"         {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "k8s"}
  "Prometheus"  {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "prometheus"}
  "Elastic"     {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "elastic"}
  "Terraform"   {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "terraform"}
  "Ansible"     {:lib "cloudogu" :prefix "cloudogu" :path "tools" :name "ansible"}
}
