;;;;
;;;; Architecture Views for Overarch
;;;;
#{;;;
  ;;; Architecture Views
  ;;;
  {:el :context-view
   :id :overarch.architecture/overarch-context-view
   :spec {:selection {:namespace-prefix "overarch"}}
   :title "Context View of Overarch"
   :desc "Gives a high level overview of the roles, systems and their interactions"
   :ct []}

  {:el :container-view
   :id :overarch.architecture/overarch-container-view
   :spec {:selection {:namespace-prefix "overarch"}}
   :title "Container View of Overarch"
   :ct []}

  {:el :component-view
   :id :overarch.architecture/overarch-component-view
   :spec {:selection {:namespace-prefix "overarch"}}
   :title "Component View of Overarch"
   :ct []}

  {:el :system-structure-view
   :id :overarch.architecture/system-structure-view
   :spec {:selection {:namespace-prefix "overarch" :external? false}}
   :title "System Structure View of Overarch"
   :desc "Shows the structure of the Overarch systems."
   :ct []}

  ;
  }