;;;;
;;;; Example Code Model
;;;;

#{;;
  ;; Elements
  ;;
  {:el :interface
   :id :code/ishape
   :name "IShape"
   :ct [{:el :method
         :id :code/ishape-area
         :name "area"}
        {:el :method
         :id :code/ishape-circumference
         :name "circumference"}]}
  {:el :class
   :id :code/shape
   :name "Shape"
   :abstract true
   :ct [{:el :method
         :id :code/shape-area
         :name "area"}
        {:el :method
         :id :code/shape-circumference
         :name "circumference"}]}
  {:el :class
   :id :code/circle
   :name "Circle"
   :ct [{:el :field
         :id :code/circle-radius
         :name "radius"}]}
  {:el :class
   :id :code/square
   :name "Square"
   :ct [{:el :field
         :id :code/square-width
         :name "width"}]}

  ;;
  ;; Relations
  ;;
  {:el :implementation
   :id :code/shape-extends-ishape
   :from :code/shape
   :to :code/ishape}
  {:el :inheritance
   :id :code/circle-extends-shape
   :from :code/circle
   :to :code/shape}
  {:el :inheritance
   :id :code/square-extends-shape
   :from :code/square
   :to :code/shape}
}