;;;;
;;;; Example Views for Class Model
;;;;

#{
  {:el :code-view
   :id :code/code-view
   :title "Code View"
   :ct [; classes
        {:ref :code/ishape}
        {:ref :code/shape}
        {:ref :code/circle}
        {:ref :code/square}
        ; relations
        {:ref :code/shape-extends-ishape}
        {:ref :code/circle-extends-shape}
        {:ref :code/square-extends-shape}
        ]
   }
}