;;;;
;;;; Generation Config
;;;;
[;
 ;;;
 ;;; Documentation
 ;;;
 ;;
 ;;  Diagram Generation for Views
 ;;

 ; rendered as plantuml wbs
 {:view-selection {:els #{:deployment-structure-view :organization-structure-view :system-structure-view}}
  :template "views/structure-view.puml.cmb"
  :per-element true
  :id-as-name true
  :extension "puml"}

 ; rendered as graphviz dot 
 {:view-selection {:els #{:concept-view :process-view :model-view}}
  :template "views/view.dot.cmb"
  :per-element true
  :id-as-name true
  :extension "dot"}

 ;;
 ;;  Markdown Generation for Model Elements
 ;;

 ; every model node except fields and methods
 {:selection {:model-node? true :!els #{:field :method}}
  :template "docs/node.md.cmb"
  :per-element true
  :id-as-name true
  :extension "md"}

 ;;
 ;;  Markdown Generation for Views
 ;;

 ; list of all views, select every view
 {:view-selection {}
  :template "docs/views.md.cmb"
  :base-name "views"
  :extension "md"}

 ; list of views per namespace, select every view
 {:view-selection {}
  :template "docs/views.md.cmb"
  :per-namespace true
  :base-name "views-in-namespace"
  :extension "md"}

 ; markdown for views with diagrams
 {:view-selection {:!els #{:glossary-view}}
  :template "docs/view.md.cmb"
  :per-element true
  :id-as-name true
  :extension "md"}

 ; markdown for the glossary
 {:view-selection {:el :glossary-view}
  :template "views/glossary-view.md.cmb"
  :per-element true
  :id-as-name true
  :extension "md"}

 ;;;
 ;;; Markdown Reports
 ;;;
 #_{:selection {}
    :template "reports/element-report.md.cmb"
    :title "Model Elements Report"
    :base-namespace "reports"
    :base-name "elements-report"
    :extension "md"}

 #_{:selection {:el :system}
    :template "reports/node-report.md.cmb"
    :title "Systems Report"
    :base-namespace "reports"
    :base-name "systems-report"
    :extension "md"}

 #_{:selection {:el :implements}
    :template "reports/rel-report.md.cmb"
    :title "Traceablility Report"
    :base-namespace "reports"
    :base-name "traceablility-report"
    :extension "md"}

 ;;;
 ;;; Exports
 ;;;
 #_{:selection {}
    :template "exports/model.edn.cmb"
    :per-namespace true
    :subdir "export/edn"
    :base-name "model"
    :extension "edn"
    :debug true}

 #_{:view-selection {}
    :template "exports/views.edn.cmb"
    :per-namespace true
    :subdir "export/edn"
    :base-name "views"
    :extension "edn"
    :debug true}

 ;
 ]
