;;;;
;;;; Use Case Model for Overarch
;;;;
#{;;;
  ;;; Use Case Model Elements
  ;;;
  {:el :use-case
   :id :overarch.use-case/model-system
   :level :user-goal
   :name "model system"
   :desc "Textually model the system in the Overarch data model."}
  {:el :use-case
   :id :overarch.use-case/define-views
   :level :user-goal
   :name "define views"
   :desc "Textually define views of the system in the Overarch view model."}
  {:el :use-case
   :id :overarch.use-case/create-templates
   :level :user-goal
   :name "create templates"
   :desc "Create templates to generate artifacts from model selections."}
  {:el :use-case
   :id :overarch.use-case/generate-artifacts
   :level :user-goal
   :name "generate artifacts "
   :desc "Generate artifacts with templates from model selections."}
  {:el :use-case
   :id :overarch.use-case/query-model
   :level :user-goal
   :name "query model"
   :desc "Query the model with selection criteria."}
  {:el :use-case
   :id :overarch.use-case/export-model
   :level :user-goal
   :name "export model"
   :desc "Export the model of the system."}
  {:el :use-case
   :id :overarch.use-case/export-json
   :level :subfunction
   :name "export JSON"
   :desc "Export the model and views to JSON."}
  {:el :use-case
   :id :overarch.use-case/export-structurizr
   :level :subfunction
   :name "export Structurizr"
   :desc "Export the architecture model and views as a Structurizr workspace."}
  {:el :use-case
   :id :overarch.use-case/render-views
   :level :user-goal
   :name "render views"
   :desc "Render the views of the system."}
  {:el :use-case
   :id :overarch.use-case/render-plantuml
   :level :subfunction
   :name "render PlantUML"
   :desc "Render the relevant views to PlantUML."}
  {:el :use-case
   :id :overarch.use-case/render-markdown
   :level :subfunction
   :name "render Markdown"
   :desc "Render the relevant views to Markdown."}
  {:el :use-case
   :id :overarch.use-case/render-graphviz
   :level :subfunction
   :name "render GraphViz"
   :desc "Render the relevant views to GraphViz."}

  ;;;
  ;;; Use Case Model Relations
  ;;;
  {:el :uses
   :id :overarch.use-case/model-system-uses-editor
   :from :overarch.use-case/model-system
   :to :overarch.architecture/editor}
  {:el :uses
   :id :overarch.use-case/define-views-uses-editor
   :from :overarch.use-case/define-views
   :to :overarch.architecture/editor}
  {:el :uses
   :id :overarch.use-case/create-templates-uses-editor
   :from :overarch.use-case/create-templates
   :to :overarch.architecture/editor}
  {:el :include
   :id :overarch.use-case/render-views-includes-query-model
   :from :overarch.use-case/render-views
   :to :overarch.use-case/query-model}
  {:el :include
   :id :overarch.use-case/generate-artifacts-includes-query-model
   :from :overarch.use-case/generate-artifacts
   :to :overarch.use-case/query-model}
  {:el :extends
   :id :overarch.use-case/export-json-extends-uc-export-model
   :from :overarch.use-case/export-json
   :to :overarch.use-case/export-model}
  {:el :extends
   :id :overarch.use-case/export-structurizr-extends-uc-export-model
   :from :overarch.use-case/export-structurizr
   :to :overarch.use-case/export-model}
  {:el :extends
   :id :overarch.use-case/render-plantuml-extends-uc-render-views
   :from :overarch.use-case/render-plantuml
   :to :overarch.use-case/render-views}
  {:el :extends
   :id :overarch.use-case/render-markdown-extends-uc-render-views
   :from :overarch.use-case/render-markdown
   :to :overarch.use-case/render-views}
  {:el :extends
   :id :overarch.use-case/render-graphviz-extends-uc-render-views
   :from :overarch.use-case/render-graphviz
   :to :overarch.use-case/render-views}
  ;
  }
