;;;;
;;;; Use Case Views for Overarch
;;;;
#{
  {:el :use-case-view
   :id :overarch.use-case/overarch-use-case-view
   :spec {:selection {:namespace-prefix "overarch.use-case"}
          :include :relations
          :layout :left-right}
   :title "Use Case View of Overarch"
   :ct [;; actors
        {:ref :overarch.roles/modeller}
        {:ref :overarch.roles/template-programmer}
        {:ref :overarch.architecture/editor}
        ;
        ]}
}
