;;;;
;;;; Example model for use case views
;;;;
;;;; Levels based on Cockburn, A.; Writing Effective Use Cases
;;;;
#{
  ;;;
  ;;; Actors
  ;;; 
  {:el :actor
   :id :use-case/user
   :name "User"}
  {:el :actor
   :id :use-case/admin
;   :extends :use-case/user
   :name "Administrator"}

  ;;; 
  ;;; Use Cases
  ;;;
  {:el :use-case
   :id :use-case/manage-content
   :name "Manage Content"
   :level :user-goal}
  {:el :use-case
   :id :use-case/manage-users
   :name "Manage Users"
   :level :user-goal}
  {:el :use-case
   :id :use-case/login
   :name "Login"
   :level :subfunction}

  ;;; 
  ;;; Relations
  ;;;
  {:el :goal
   :id :use-case/user-wants-to-manage-content
   :from :use-case/user
   :to :use-case/manage-content}
  {:el :goal
   :id :use-case/admin-wants-to-manage-users
   :from :use-case/admin
   :to :use-case/manage-users}
  {:el :include
   :id :use-case/manage-content-includes-login
   :from :use-case/manage-content
   :to :use-case/login}
  {:el :include
   :id :use-case/manage-users-includes-login
   :from :use-case/manage-users
   :to :use-case/login}
  
  }