#{;;;
  ;;; Views
  ;;;
  {:el :usecase-view
   :id :usecase/usecase-view
   :title "Use Cases"
   :ct [;; actors
        {:ref :usecase/user}
        {:ref :usecase/admin}
        ;; use cases
        {:ref :usecase/manage-users}
        ;; relations

        ]}
  }