#{{:el :context-view
   :id :test/without-legend
   :spec {:no-legend true}
   :title "View without legend"
   :ct [{:ref :test/sys1}
        {:ref :test/sys2}
        {:ref :test/sys1-calls-sys2}]}
    ;
  }
