#{{:el :context-view
  :id :hexagonal/system-context-view
  :title "System Context View of a Hexagonal Architecture"
  :spec {:legend true}
  :ct [{:ref :hexagonal/system}]}

 {:el :container-view
  :id :hexagonal/container-view
  :title "Container View of a Hexagonal Arcitecture"
  :spec {:legend true}
  :ct [{:ref :hexagonal/system}]}

 {:el :component-view
  :id :hexagonal/component-view
  :title "Component View of a Hexagonal Arcitecture"
  :spec {:legend true}
  :ct [{:ref :hexagonal/container}
       {:ref :hexagonal/database-container}
       {:ref :hexagonal/queue-container}

       {:ref :hexagonal/application-logic-uses-domain-core}
       {:ref :hexagonal/application-logic-uses-repository-component}
       {:ref :hexagonal/provided-interface-component-uses-application-logic}
       {:ref :hexagonal/application-logic-uses-cosumed-interface-component}
       {:ref :hexagonal/incoming-domain-events-triggers-application-logic}
       {:ref :hexagonal/application-logic-sends-outgoing-domain-events}]}}